<h1>Edit Product</h1>

<form name="form" action="/products/" method="POST" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="_method" value="PUT">

<input type="text" placeholder="Enter Product Name" name="Product Name"><br>

<input type="text" placeholder="Price" name="Price"><br>

<input type="text" placeholder="Inventory" name="Inventory"><br>

<input type="submit" value="Submit" id="submit">

</form>


