<h1>Edit Product</h1>

<form name="form" action="/products/{{productId}}" method="POST" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="_method" value="PUT">

<input type="text" placeholder="Enter Product Name" name="name"><br>

<input type="number" placeholder="Price" name="price"><br>

<input type="number" placeholder="Inventory" name="inventory"><br>

<input type="submit" value="Submit" id="submit">

</form>


