<h1>Edit Product: {{title.name}} </h1>

<form name="form" action="/products/{{productId}}" method="POST" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="_method" value="PUT">

<h4>Enter New Product Name:</h4>
<input type="text" placeholder="New Product Name" name="name"><br><br>

<h4>Enter New Price:</h4>
<input type="number" placeholder="New Price $" name="price"><br><br>

<h4>New Inventory Quantity:</h4>
<input type="number" placeholder="New Quantity" name="inventory"><br><br>

<input type="submit" value="Submit" id="submit">
</form>



