<h1>New Product</h1>

<form name="form" action="/products" method="POST" enctype="application/x-www-form-urlencoded">

<input type="text" placeholder="Enter Product Name" name="name"><br><br>

<input type="text" placeholder="Price" name="price"><br><br>

<input type="text" placeholder="Inventory" name="inventory"><br><br>

<input type="submit" value="Submit" id="submit"><br>

</form>